---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6funDRpLdpnqA3c6w9xiXbcAZ", oauth_nonce="9a0fc7f7613f9fa9afc1cbb1bb3502de",
        oauth_signature="kjyX%2F%2FgQ%2FDeLtnKK5YVepDZ%2BAlA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376540", oauth_token="250190173-lkAJ15KFJhOHpfatmt1a5ezQdvLsIU6rlvncIc0h",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:22:21 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e2b20b20848dac22f4f8a3ed514f074b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1450376595'
      X-Response-Time:
      - '68'
      X-Transaction:
      - 7058aadac78d1599
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 17:07:23 +0000 2015","id":677535575189159936,"id_str":"677535575189159936","text":"I
        like tweeting and testing!","source":"\u003ca href=\"https:\/\/thawing-citadel-1666.herokuapp.com\/\"
        rel=\"nofollow\"\u003etwittertoo\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":250190173,"id_str":"250190173","name":"Cole
        Mersich","screen_name":"ColeMersich","location":"Denver","description":"Student
        at @turingschool\nI''m committing 10,000 hours to programming.  I''m nearly
        there!","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":90,"friends_count":570,"listed_count":2,"created_at":"Thu
        Feb 10 16:11:16 +0000 2011","favourites_count":20,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":359,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFF04D","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/610989157108707328\/eiwDUICE_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/610989157108707328\/eiwDUICE_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/250190173\/1450142549","profile_link_color":"0099CC","profile_sidebar_border_color":"FFF8AD","profile_sidebar_fill_color":"F6FFD1","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Dec 17 16:52:06 +0000 2015","id":677531729142288384,"id_str":"677531729142288384","text":"Agreed!  Sebastian
        is a cool dude https:\/\/t.co\/KWu1uLzIXu","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6funDRpLdpnqA3c6w9xiXbcAZ", oauth_nonce="1f89b5c2403b3463b4d2c290b3fd6459",
        oauth_signature="SA0Yl71wgGlcFWOsxSAXPa6Ca9A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376541", oauth_token="250190173-lkAJ15KFJhOHpfatmt1a5ezQdvLsIU6rlvncIc0h",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:22:21 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 391a6ca6cafb5e8c9b1dfca85754e51e
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450377373'
      X-Response-Time:
      - '43'
      X-Transaction:
      - 3a2f8fc6084d519c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 18:22:03 +0000 2015","id":677554366367297540,"id_str":"677554366367297540","text":"The
        creators of the ColecoVision are back with a new cartridge-based console https:\/\/t.co\/pkUm2RpPW6
        https:\/\/t.co\/LwQb0QCIfo","source":"\u003ca href=\"http:\/\/www.sbnation.com\"
        rel=\"nofollow\"\u003eSB Nation\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":275686563,"id_str":"275686563","name":"The
        Verge","screen_name":"verge","location":"New York","description":"https:\/\/t.co\/W2SFxIXkC4
        covers the future of technology, science, art, and culture. Snapchat: verge","url":"http:\/\/t.co\/W2SFxIXkC4","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/W2SFxIXkC4","expanded_url":"http:\/\/www.theverge.com","display_url":"theverge.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/W2SFxIXkC4","expanded_url":"http:\/\/www.theverge.com","display_url":"theverge.com","indices":[0,23]}]}},"protected":false,"followers_count":1110473,"friends_count":134,"listed_count":28079,"created_at":"Fri
        Apr 01 19:54:22 +0000 2011","favourites_count":1177,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":82117,"lang":"en","contributors_enabled":false,"is_tr[...]
