---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6funDRpLdpnqA3c6w9xiXbcAZ", oauth_nonce="70dece8acee74245ded46c0f4b5e8184",
        oauth_signature="cyIjNdWxjyV3Tp3QlWbH293vczk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450379648", oauth_token="250190173-lkAJ15KFJhOHpfatmt1a5ezQdvLsIU6rlvncIc0h",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 19:14:08 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 31ee76a6f4b10c7425de8fac3da855cc
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1450380420'
      X-Response-Time:
      - '74'
      X-Transaction:
      - b66df666dd4a1a9b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 17:07:23 +0000 2015","id":677535575189159936,"id_str":"677535575189159936","text":"I
        like tweeting and testing!","source":"\u003ca href=\"https:\/\/thawing-citadel-1666.herokuapp.com\/\"
        rel=\"nofollow\"\u003etwittertoo\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":250190173,"id_str":"250190173","name":"Cole
        Mersich","screen_name":"ColeMersich","location":"Denver","description":"Student
        at @turingschool\nI''m committing 10,000 hours to programming.  I''m nearly
        there!","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":90,"friends_count":570,"listed_count":2,"created_at":"Thu
        Feb 10 16:11:16 +0000 2011","favourites_count":20,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":359,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFF04D","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/610989157108707328\/eiwDUICE_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/610989157108707328\/eiwDUICE_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/250190173\/1450142549","profile_link_color":"0099CC","profile_sidebar_border_color":"FFF8AD","profile_sidebar_fill_color":"F6FFD1","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Dec 17 16:52:06 +0000 2015","id":677531729142288384,"id_str":"677531729142288384","text":"Agreed!  Sebastian
        is a cool dude https:\/\/t.co\/KWu1uLzIXu","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6funDRpLdpnqA3c6w9xiXbcAZ", oauth_nonce="6ac0f92cd8f3af1c152d9a915eafb731",
        oauth_signature="JvL3O9X2HwWVFR5Gr7Mr0Wbkhy8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450379648", oauth_token="250190173-lkAJ15KFJhOHpfatmt1a5ezQdvLsIU6rlvncIc0h",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 19:14:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c59c355a59c0a870f76d89247e66b60c
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450380549'
      X-Response-Time:
      - '116'
      X-Transaction:
      - 08c274a301fd548a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 19:13:52 +0000 2015","id":677567405011415040,"id_str":"677567405011415040","text":"Travel
        Marketers Embrace Virtual Reality as the Next Big Thing  https:\/\/t.co\/NYef4y7MXT
        https:\/\/t.co\/xYTy09HPb6","source":"\u003ca href=\"http:\/\/www.hubspot.com\/\"
        rel=\"nofollow\"\u003eHubSpot\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":374822255,"id_str":"374822255","name":"Skift","screen_name":"skift","location":"New
        York City, NY","description":"Defining the Future of Travel. \n\nGlobal travel
        industry news, analysis & data on online travel, airlines, hotels, tourism,
        agents, tours, startups, tech & more.","url":"http:\/\/t.co\/nLTVfbGHRm","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/nLTVfbGHRm","expanded_url":"http:\/\/skift.com","display_url":"skift.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":52412,"friends_count":2639,"listed_count":1697,"created_at":"Sat
        Sep 17 00:58:57 +0000 2011","favourites_count":3971,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":46648,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs[...]
