---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6funDRpLdpnqA3c6w9xiXbcAZ", oauth_nonce="0e69a2bfaa69c96f3b259949b50eff55",
        oauth_signature="giER8mLmput1A%2Bn62UEm0nwTobI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450375695", oauth_token="250190173-lkAJ15KFJhOHpfatmt1a5ezQdvLsIU6rlvncIc0h",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:08:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a95250f10a04d91af968765f2b63886f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1450376595'
      X-Response-Time:
      - '117'
      X-Transaction:
      - ec6367eb962e4084
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 17:07:23 +0000 2015","id":677535575189159936,"id_str":"677535575189159936","text":"I
        like tweeting and testing!","source":"\u003ca href=\"https:\/\/thawing-citadel-1666.herokuapp.com\/\"
        rel=\"nofollow\"\u003etwittertoo\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":250190173,"id_str":"250190173","name":"Cole
        Mersich","screen_name":"ColeMersich","location":"Denver","description":"Student
        at @turingschool\nI''m committing 10,000 hours to programming.  I''m nearly
        there!","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":90,"friends_count":570,"listed_count":2,"created_at":"Thu
        Feb 10 16:11:16 +0000 2011","favourites_count":20,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":359,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFF04D","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/610989157108707328\/eiwDUICE_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/610989157108707328\/eiwDUICE_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/250190173\/1450142549","profile_link_color":"0099CC","profile_sidebar_border_color":"FFF8AD","profile_sidebar_fill_color":"F6FFD1","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Dec 17 16:52:06 +0000 2015","id":677531729142288384,"id_str":"677531729142288384","text":"Agreed!  Sebastian
        is a cool dude https:\/\/t.co\/KWu1uLzIXu","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id"[...]
